<ul>
    <li><img src="../assets/angular.png" width="50"></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/personalDetails/personalDetails">Personal details</a></li>
    <li><a routerLink="/addonBundles/addonBundles">Addons & bundles</a></li>
    <li><a routerLink="/claims/claims">Claims</a></li>
    <li><a routerLink="/convictions/convictions">Convictions</a></li>
    <li style="float: right; color: white; margin-right: 10px;">
        <lib-auth-lib></lib-auth-lib>
    </li>
</ul>

<router-outlet></router-outlet>