<img src="../assets/angular.png" width="50">

<h3>
    Application Shell | Portal
</h3>

<br />
<div style="width:48%; margin-bottom:20px; float:left; border: 1px solid #333; display: block;">
    <a [href]="flightsUrl" style="padding-left:10px;" target="_blank">Navigate</a>
    <iframe id="flights" [src]="flightsUrl" width="100%" height="250" frameborder="0"></iframe>
</div>
<div style="width:48%; margin-bottom:20px; margin-left:1%; float:left; border: 1px solid #333; display: block;">
    <a [href]="bookingUrl" style="padding-left:10px;" target="_blank">Navigate</a>
    <iframe id="booking" [src]="bookingUrl" width="100%" height="250" frameborder="0"></iframe>
</div>
<div style="width:48%;float:left; border: 1px solid #333; display: block;">
    <a [href]="cityUrl" style="padding-left:10px;" target="_blank">Navigate</a>
    <iframe id="city" [src]="cityUrl" width="100%" height="250" frameborder="0"></iframe>
</div>
<div style="width:48%; margin-left:1%; float:left; border: 1px solid #333; display: block;">
    <a [href]="countryUrl" style="padding-left:10px;" target="_blank">Navigate</a>
    <iframe id="country" [src]="countryUrl" width="100%" height="250" frameborder="0"></iframe>
</div>