<div id="container">
    <h1>Personal Details</h1>

    <h3>Selected customer: {{selectedCustomer?.name}}</h3>
    <table class="customers">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{personalData?.name}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{personalData?.city}}</td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td>{{personalData?.postcode}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<a routerLink="/">go home</a>
<br>
<br>
<lib-terms-lib></lib-terms-lib>