<div>
    <h1>Claims & Convictions</h1>
</div>

<h3>Selected customer: {{selectedCustomer?.name}}</h3>
<table class="customers">
    <thead>
        <th>Name</th>
        <th>Claims</th>
        <th>Convictions</th>
    </thead>
    <tbody>

        <tr *ngFor="let customer of customerList">
            <td>{{customer.name}}</td>
            <td (click)="selectAndNavigate('/claims', customer.id)"><a>claims</a></td>
            <td (click)="selectAndNavigate('/convictions', customer.id)"><a>convictions</a></td>
        </tr>
    </tbody>
</table>

<br />
<lib-terms-lib></lib-terms-lib>